@page
@model NhanVT_Assignment1.Pages.UnauthorizedModel
@{
	ViewData["Title"] = "Unauthorized";
}

<div class="text-center">
    <h1 class="text-danger">401 - Unauthorized</h1>
    <p>You don't have permission to access this resource.</p>
    <a asp-page="/Login" class="btn btn-primary">Back to Login</a>
</div>
